/*谷歌字体*/
@import url('https://fonts.font.im/css2?family=ZCOOL+KuaiLe&display=swap');
/*阿里图标*/
@import url('https://at.alicdn.com/t/font_2968519_n8lu6yzxu5.css');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "ZCOOL KuaiLe", "Microsoft YaHei", sans-serif;;
}

/*包含以下四种的链接*/
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: unset;
}

html, body {
    scroll-behavior: smooth;
}

/*解决滚动条造成的页面抖动*/
html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100vw;
    overflow: hidden;
    padding-right: calc(100vw - 100%);
}

img {
    image-rendering: crisp-edges;
}

/*滚动条整体*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*滚动条滑块*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    width: 6px;
    background: var(--theme-skin-main)
}

/*滚动条背景*/
::-webkit-scrollbar-track {
    border-radius: 3px; /*滚动条的背景区域的圆角*/
    background-color: var(--theme-base-white); /*滚动条的背景颜色*/
}